body {
    margin-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

@media screen and (min-width: 800px) {
    body {
        padding-right: 28%;
        padding-left: 28%;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    background-color:lightgray;
}

.title {
    text-align: center;
}

.logo {
    text-align: center;
}
