code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    background-color: #b3e6ff;
}

.title {
    text-align: center;
}

.logo {
    text-align: center;
}
