name: build
on: [push, pull_request]
jobs:

  test:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up go 1.22
        uses: actions/setup-go@v4
        with:
          go-version: '1.22'
        id: go
      - name: Build
        run: go build .
      - name: Test
        run: go test -v . ./cli ./codegen
      - name: Test Transformer
        run: cd transform && go test ./...
      - name: Lint
        run: |
          docker run -v $(pwd):/app -w /app golangci/golangci-lint:v1.24.0 \
          golangci-lint run --config .github/.golangci.yml cli codegen static .

  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go: [ '1.11', '1.12', '1.13', '1.14', '1.15', '1.16', '1.17', '1.18', '1.19', '1.20', '1.21' ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
        id: go
      - name: Build
        run: go build .
